


@media (min-width: 1920px) and (max-width: 2000px) {
   
}

@media (min-width: 1600px) and (max-width: 1919px) {
   
}

@media (min-width: 1200px) and (max-width: 1599px) {

   
}

@media (min-width: 992px) and (max-width: 1199px) {
    .form-login {
        padding: 5rem 2rem;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-login {
        padding: 5rem 2rem;
    }
    .img-login{
        display: none;
    }
    .row {
        justify-content: center; 
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .text-home{
        text-align: center;
        margin-top: 3rem;
    }
    .info-home{
        margin: 1rem auto;
    }
    .form-login {
        padding: 5rem 2rem;
    }
    .img-login{
        display: none;
    }

}

@media (min-width: 481px) and (max-width: 575px) {
    .text-home{
        text-align: center;
    }
    .info-home{
        margin: 1rem auto;
    }
    .form-login {
        padding: 5rem 2rem;
    }
    .img-login{
        display: none;
    }

}

@media (min-width: 391px) and (max-width: 480px) {
    .navbar-brand img {
        margin-top: 10px;
        width: 150px;
    }
    .text-home{
        text-align: center;
        margin-top: 4rem;
    }
    .text-home h1{
        font-size: 50px;
    }
    .info-home{
        margin: 1rem auto;
    }
    .form-login {
        padding: 5rem 2rem;
    }
    .img-login{
        display: none;
    }

}

@media (min-width: 360px) and (max-width: 390px) {
    .navbar-brand img {
        margin-top: 10px;
        width: 140px;
    }
    .nav-login .btn-login{
        width: 130px;
    }
    .text-home{
        text-align: center;
        margin-top: 3rem;
    }
    .info-home{
        margin: 1rem auto;
    }
    .form-login {
        padding: 5rem 2rem;
    }
    .img-login{
        display: none;
    }

}