* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url("../imgs/bgHome.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.row {
    height: 80vh;
    display: flex;
    align-items: center;
}

/* MENU */
nav.menu {
    background-color: transparent !important;
}

.navbar-collapse li {
    width: 130px;
}

.navbar-collapse li a:hover {
    color: #552a68;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: #000;
}

.logo img {
    width: 180px;
}

#icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.btn-login {
    background-color: #EA723F;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 15px;
}


.btn-login:hover {
    transition: 0.3s;
    background-color: #db6c3d;
}

/* RESPONSIVIDADE MENU */
@media(max-width: 992px) {
    nav ul {
        flex-direction: column;
        background-color: #8B45AA;
        text-align: center;
        padding: 10px;
    }

    .nav-link {
        color: #fff;
    }

    .navbar-nav {
        width: 100%;
        margin-left: auto;
    }

    .navbar-nav li {
        margin-bottom: 10px;
    }

    .navbar-toggler {
        display: block;
    }

    .collapse.navbar-collapse.show {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .btn-login {
        position: relative;
        margin: 0 auto;
        right: auto;
        top: auto;
        transform: none;
    }
}

/* INDEX */
.text-home h1 {
    font-size: 4rem;
    margin-bottom: 25px;
    color: #8B45AA;
    font-weight: 600;
}

.info-home {
    background-color: #EA723F;
    color: #fff;
    width: 350px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.info-home h2 {
    background-color: #8B45AA;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: -40px;
    font-size: 26px;
}

.img-home img {
    width: 30rem;
    margin-bottom: 2rem;
}


/*HOME*/

/*QUEM SOMOS*/

#quem-somos {
    background-color: #D9B74B;
    height: 39.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#quem-somos .col-md-5 {
    height: 100vh;
    background-image: url("../imgs/quemSomos.jpg");
    background-size: cover;
    background-position: center;
}

#quem-somos .col-md-7 {
    padding: 2rem;
}

#quem-somos .col-md-11 {
    margin-bottom: 3rem;
}

#quem-somos h1 {
    color: #8B45AA;
    font-weight: 900;
    margin-bottom: 3rem;
}

.btn-whatsapp {
    background-color: #EA723F;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-whatsapp:hover{
    transition: 0.3s;
    background-color: #db6c3d;
}

/*Nossos Serviços*/

#servicos {
    margin-top: 20rem;
    height: 80vh;
    padding: 4rem 0;
    text-align: center;
}

#servicos h2 {
    color: #8B45AA;
    margin-top: 5rem;
    margin-bottom: -7rem;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.card {
    height: 250px;
    width: 300px;
    background-color: #D9B74B;
    border: none;
}

.card img{
    width: 50px;
}


.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    color: #000; 
    opacity: 0.5;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.8;
}


/* Footer */
.footer {
    background-color: #8B45AA;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .logo-footer img {
    width: 150px;
}

.footer .text-footer p {
    margin-bottom: 10px;
}

.footer .text-footer span a {
    color: #e01414;
    text-decoration: none;
}

.footer .text-footer span a:hover {
    text-decoration: underline;
}


