* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url("../imgs/bgHome.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.row {
    height: 80vh;
    display: flex;
    align-items: center;
}

/* MENU */
nav.menu {
    background-color: transparent !important;
}

.nav-login .btn-login{
    position: relative;
    top: auto;
}

.navbar-collapse li {
    width: 130px;
}

.navbar-collapse li a:hover {
    color: #552a68;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: #000;
}

.navbar-brand img {
    width: 180px;
}

#icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.btn-login {
    background-color: #EA723F;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 15px;
}

.btn-login:hover {
    transition: 0.3s;
    background-color: #db6c3d;
}

/* RESPONSIVIDADE MENU */
@media(max-width: 992px) {
    .nav-home nav ul {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .nav-home .nav-link {
        color: #fff;
    }

    .nav-home .navbar-nav {
        width: 100%;
        margin-left: auto;
    }

    .nav-home .navbar-nav li {
        margin-bottom: 10px;
    }

    .nav-home .navbar-toggler {
        display: block;
    }

    .nav-home .collapse.navbar-collapse.show {
        display: block;
    }

    .nav-home .navbar-collapse {
        display: none;
    }

    .nav-home .btn-login {
        position: relative;
        margin: 0 auto;
        right: auto;
        top: auto;
        transform: none;
    }
}

/* INDEX/HOME */
.text-home h1 {
    font-size: 4rem;
    margin-bottom: 25px;
    color: #8B45AA;
    font-weight: 600;
}

.info-home {
    background-color: #EA723F;
    color: #fff;
    width: 350px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.info-home h2 {
    background-color: #8B45AA;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: -40px;
    font-size: 26px;
}

.img-home img {
    width: 30rem;
    margin-bottom: 2rem;
}

/*LOGIN*/
.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.login {
    display: flex;
    background-color: #D9B74B;
    width: 70%;
    height: 34rem;
    overflow: hidden;
}

.login .col-md-6 {
    flex: 1;
    padding: 30px;
}

.close {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0; 
    left: 10px;
    margin: 20px; 
    z-index: 9999;
}

.form-login {
    background-color: #D9B74B;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: -4rem;
    margin-bottom: 2rem;
    color: #000;
}

.campo-forms {
    margin-bottom: 15px;
}

.campo-forms label {
    margin-bottom: 10px;
    text-transform: uppercase;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.campo-forms input {
    background-color: #fff;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
}

.esqueceu {
    text-align: right;
    color: #0000007c;
}

.btn-entrar,
.btn-cadastrar {
    background-color: #525252;
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.btn-entrar:hover {
    transition: 0.3s;
    background-color: #8B45AA;
}

.img-login {
    height: 100vh;
    background-image: url("../imgs/dogLogin.jpg");
    background-size: cover;
    background-position: center;
}

.registre-se {
    text-align: center;
}

.registre-se a {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.img-login {
    flex: 1;
    height: 100vh;
    background-image: url("../imgs/dog-home.jpg");
    background-size: cover;
    background-position: center;
}

/*CADASTRO*/
.cadastro-box {
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    background-color: #D9B74B;
    width: 80%;
    max-width: 800px;
    height: 32rem;
    padding: 30px;
}

.cadastro h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.cadastro .mb-3 {
    height: 80px;
    margin-top: -10px;
}

.cadastro input {
    height: 30px;
}

.btn-cadastrar {
    margin-top: 40px;
    font-size: 16px;
    padding: 5px;
}

.btn-cadastrar:hover {
    transition: 0.3s;
    background-color: #8B45AA;
}

.carousel-controls-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.custom-carousel-btn {
    background-color: #8B45AA; 
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    color: #fff; 
    opacity: 0.8; 
    transition: opacity 0.3s; 
    margin-top: 20%;
}

.custom-carousel-btn:hover {
    opacity: 1; 
}

/*HOME*/
#home {
    margin-bottom: 5rem;
}

/*QUEM SOMOS*/
#quem-somos {
    background-color: #D9B74B;
    margin-top: 5rem;
    padding: 3rem;
}

#quem-somos .col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quem-somos .col-md-5 img {
    max-width: 90%;
    height: auto;

}

.quem-somos-content {
    margin-top: 2rem;
}

.quem-somos-content h1 {
    color: #8B45AA;
    font-weight: 900;
    margin-bottom: 1rem;
}

.quem-somos-content p {
    color: #fff;
    margin-bottom: 1rem;
}

.btn-whatsapp {
    background-color: #EA723F;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-whatsapp:hover {
    background-color: #db6c3d;
    transition: 0.3s;
}

/*NOSSOS SERVIÇOS*/
#servicos{
    background-color: blue;
    margin-top: 2rem;
}

#servicos h1 {
    text-align: center;
    color: #8B45AA;
    font-weight: 900;
}

.card-servico {
    position: relative;
    width: 350px;
    height: 300px;
    background-color: #D9B74B;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: hidden;
}

.card-servico .circle {
    background-color: #db6c3d;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-servico .circle img {
    width: 40px;
    height: 40px;
}

.card-servico .title {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.card-servico .text {
    text-align: center;
    color: #fff;
    margin: 20px 10px;
}

@media (max-width: 992px) {
    .card-servico {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* PRODUTOS */
#produtos {
    margin-top: 2rem;
}

#produtos h1 {
    color: #8B45AA;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-left: 15px;
}

#produtos .card {
    height: 460px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}

#produtos .card:hover {
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.699); 
}

#produtos .card img {
    width: 80%;
    margin-bottom: 15px; 
}

#produtos .card-body {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-ver-produto {
    background-color: #EA723F;
    color: #fff;
    border: none;
    border-radius: 30px;
}

.btn-ver-produto:hover {
    background-color: #db6c3d;
    transition: 0.3s;
}

/*CONTATO*/
#contato{
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 25px;
    background-color: cadetblue;
}

#contato h1{
    font-size: 3rem;
    font-weight: 900;
    color: #8B45AA;
}

.contato-text{
    padding-left: 30px;
}

/* FOOTER*/
.py-4 {
    background-color: #292929;
    color: #fff;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

footer .logo-footer img {
    width: 200px; 
}

footer .social-icons {
    list-style-type: none; 
    padding: 0; 
}

footer .social-icons li {
    display: inline-block; 
    margin-right: 10px;
}

footer .social-icons li:last-child {
    margin-right: 0; 
}



